<%# views/home %>

<%- include('../common/header.ejs') %>

<body class="grey lighten-5" style="background-image: url('../images/ring.jpg');">
    <%- include('./register.ejs') %>
</body>

<footer>
    <%- include('../common/footer.ejs')%>
</footer>