<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:url"           content="/" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Event Registration - Awaited One!" />
        <meta property="og:description"   content="Register for the most awaited upcoming event!" />
        <meta property="og:image"         content="/images/jet_favicon.ico" />

        <title>Event Registration - Awaited One!</title>

        <meta name="description" content="Register for the most awaited upcoming event!">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

</html>